.InputFromTo .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
    background-color: #f0f8ff !important;
    color: #4a90e2;
  }
  .InputFromTo .DayPicker-Day {
    border-radius: 0 !important;
  }
  .InputFromTo .DayPicker-Day--start {
    border-top-left-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
  }
  .InputFromTo .DayPicker-Day--end {
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
  }

  .InputFromTo .DayPicker-Day--date {
    color: 'red';
    background-color: '#ffc107';
  }

  .InputFromTo .DayPickerInput-Overlay {
    width: 550px;
  }
  .InputFromTo-to .DayPickerInput-Overlay {
    margin-left: -198px;
  }

  .InputFromTo .DayPicker-Day--today {
    background-color: rgb(30, 101, 168);
    color: rgb(0, 255, 255);
    border-radius: 50%;

  }

  .InputFromTo .DayPicker-Day--today:hover {
    border-radius: 0
  }

  .InputFromTo .DayPicker-Day--commentDate {
    color: white;
    background: #79a7db;
    border-radius: 50%!important;
  }

  .InputFromTo .DayPicker-Day--commentDate.DayPicker-Day--outside {
    background-color: white
  }
  
.calendar-enter {
  opacity: 0.01;
}


.calendar-enter.calendar-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.calendar-leave {
  opacity: 1;
}

.calendar-leave.calendar-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.text {
  font:Roboto, Arial, sans-serif;
  font-size: 14px;

}